.navbar-container {
  background-color: black;
  border-bottom: 1px solid black;
  height: 3.125rem;
  margin-bottom: 1.563rem;
  padding: 0.5rem 0;
  width: 100%;
}

.navbar-container ul {
  display: flex;
  list-style: none;
}

.navbar-user-container {
  display: flex;
  justify-content: space-around;
  left: 0;
  min-width: 18.75rem;
  position: absolute;
  text-align: center;
  top: 0;
}

.navbar-seller-container {
  display: flex;
  justify-content: left;
  left: 0;
  min-width: 18.75rem;
  position: absolute;
  text-align: center;
  top: 0;
}

.navbar-info-container {
  display: flex;
  justify-content: right;
  min-width: 18.75rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.navbar-name-li {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  min-width: 9.375rem;
  padding: 1.5rem 3rem;
  text-decoration: none;
}

.navbar-cart-li {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  min-width: 9.375rem;
  padding: 0.883rem 0;
  position: relative;
  text-decoration: none;
}

.navbar-price {
  display: flex;
  justify-content: center;
  margin-left: -0.813rem;
  margin-right: 0.813rem;
  padding: 0.625rem 0;
}

.navbar-quantity {
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 0.75rem;
  padding: 0.125rem 0.313rem;
  position: absolute;
  right: 5.8rem;
  top: 0.313rem;
}

.active {
  background-color: #ffc800;
  border-left: 1px solid rgba(0, 0, 0, 0.308);
  border-right: 1px solid rgba(0, 0, 0, 0.308);
  color: black;
  font-size: l;
  font-weight: 500;
}

.nav-link {
  display: flex;
  justify-content: center;
  min-width: 9.375rem;
  padding: 1.5rem 3rem;
  text-decoration: none;
}

.nav-link:not( .active ) {
  color: white;
  text-decoration: 'none';
}

.logout-btn {
  background-color: #ffc800;
  border: none;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  padding: 1.25rem 3rem;
  transition: background-color 0.3s ease-in-out;
  align-items: center;
}

.logout-btn:hover {
  background-color: #c0392b;
}

.logout {
  margin-right: 0.313rem;
  margin-top: 0.313rem;
}

.logout-icon {
  height: 2.8vh;
  padding: 0;
  width: 1.7vw;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #ffc800;
  top: 0;
  margin-left: 50%;
  margin-top: 0.75rem;
  }

.logo {
  height: 2.813rem;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc800;
  border-radius: 100%;
}
