.navbar-container {
  background-color: black;
  border-bottom: 1px solid black;
  height: 50px;
  margin-bottom: 25px;
  padding: 8px 0;
  width: 100%;
}

.navbar-container ul {
  display: flex;
  list-style: none;
}

.navbar-user-container {
  display: flex;
  justify-content: space-around;
  left: 0;
  min-width: 300px;
  position: absolute;
  text-align: center;
  top: 0;
}

.navbar-seller-container {
  display: flex;
  justify-content: left;
  left: 0;
  min-width: 300px;
  position: absolute;
  text-align: center;
  top: 0;
}

.navbar-info-container {
  display: flex;
  justify-content: right;
  min-width: 300px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.navbar-name-li {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  min-width: 150px;
  padding: 24px 48px;
  text-decoration: none;
}

.navbar-cart-li {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  min-width: 150px;
  padding: 13px 0px;
  position: relative;
  text-decoration: none;
}

.navbar-price {
  display: flex;
  justify-content: center;
  margin-left: -15px;
  margin-right: 15px;
  padding: 10px 0px;
}

.navbar-quantity {
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  right: 70px;
  padding: 2px 5px;
  position: absolute;
  top: 5px;
}

.active {
  background-color: #ffc800;
  border-left: 1px solid rgba(0, 0, 0, 0.308);
  border-right: 1px solid rgba(0, 0, 0, 0.308);
  color: black;
  font-size: l;
  font-weight: 500;
}

.nav-link {
  display: flex;
  justify-content: center;
  min-width: 150px;
  padding: 24px 48px;
  text-decoration: none;
}

.nav-link:not( .active ) {
  color: white;
  text-decoration: 'none';
}

.logout-btn {
  background-color: #ffc800;
  border: none;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 20px 48px;
  transition: background-color 0.3s ease-in-out;
}

.logout-btn:hover {
  background-color: #c0392b;
}

.logout {
  margin-right: 5px;
  margin-top: 5px;
}

.logout-icon {
  width: 1.7vw;
  height: 2.8vh;
  padding: 0px
}
