.order-details-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 90%;
}

.order-details-container-seller {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.btn-order-details {
  align-items: center;
  background-color: #036b52;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 10px 20px;
  text-align: center;
}

.btn-order-details:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.order-details-order {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
  text-align: center;
}

.order-details-seller {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
  text-align: center;
}

.order-details-date {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
  text-align: center;
}

.order-details-status {
  align-items: center;
  display: flex;
  max-width: 100%;
  text-align: center;
}

.status-pendente {
  align-items: center;
  background-color: #ccb800;
  border: none;
  border-radius: 5px;
  color: black;
  display: flex;
  height: 40%;
  justify-content: center;
  margin: auto 0;
  max-width: 100%;
  padding: 10px 20px;
  text-align: center;
}

.status-preparando {
  align-items: center;
  background-color: #6c0;
  border: none;
  border-radius: 5px;
  color: black;
  display: flex;
  font-size: 1.3rem;
  height: 40%;
  justify-content: center;
  margin: auto 0;
  max-width: 100%;
  padding: 10px 20px;
  text-align: center;
}

.status-em-transito {
  background-color: orange;
  border: none;
  border-radius: 5px;
  color: black;
  display: flex;
  font-size: 1.3rem;
  height: 40%;
  justify-content: center;
  margin: auto 0;
  max-width: 100%;
  padding: 10px 20px;
  text-align: center;
}

.status-entregue {
  background-color: #00cc9b;
  border: none;
  border-radius: 5px;
  color: black;
  display: flex;
  height: 40%;
  justify-content: center;
  margin: auto 0;
  max-width: 100%;
  padding: 10px 20px;
  text-align: center;
}

.order-details-seller-p {
  margin-right: 4px;
}