.table-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  text-align: center;
  width: 90%;
}

.table-wrapper {
  border-collapse: collapse;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  table-layout: fixed;
  width: 100%;
}

.table-scroll {
  display: block;
  height: 400px;
  overflow-y: scroll;
  width: 100%;
}

.table-wrapper th {
  background-color: #eee;
  padding: 10px;
  text-align: center;
}

.table-wrapper thead th {
  position: sticky;
  top: 0;
}

.table-wrapper td {
  border: 1px solid #ccc;
  margin: 0 100px;
  padding: 10px;
  width: 100%;
  word-break: break-all;
}

.btn-table-wrapper {
  background-color: #e7e7e7;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

.btn-table-wrapper:hover {
  background-color: #ddd;
}

.table-wrapper tr:nth-child( even ) {
  background-color: #f2f2f2;
}

.table-wrapper tr:hover {
  background-color: #ddd;
}

.table-container span {
  font-size: 36px;
  font-weight: 800;
  margin-top: 12px;
}

.total-label {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.table-wrapper th:nth-child( 1 ), .table-wrapper td:nth-child( 1 ) {
  width: 5%;
}

.table-wrapper th:nth-child( 2 ), .table-wrapper td:nth-child( 2 ) {
  min-width: 40%;
}

.table-wrapper th:nth-child( 3 ), .table-wrapper td:nth-child( 3 ) {
  min-width: 100px;
}

.table-wrapper th:nth-child( 4 ), .table-wrapper td:nth-child( 4 ) {
  min-width: 100px;
}

.table-wrapper th:nth-child( 5 ), .table-wrapper td:nth-child( 5 ) {
  min-width: 100px;
}

.table-wrapper th:nth-child( 6 ), .table-wrapper td:nth-child( 6 ) {
  min-width: 100px;
}
