body {
  background-color: #eeeded;
}

.products-section-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 10px;
}

.ver-carrinho {
  align-items: center;
  background-color: #000;
  border: none;
  border-radius: 15px;
  color: #ffc800;
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  font-weight: 900;
  height: 100px;
  justify-content: center;
  margin: 16px auto 50px;
  margin-bottom: 10px;
  padding: 24px 32px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 15vw;
}

.ver-carrinho:hover {
  opacity: 0.8;
  background-color: #ffc800;
  color: #000;
}
